.home{
    height: 100vh;
    background-color: rgb(238, 238, 238);
    
}

.home_body{
    padding: 0 10px;
}

.addButton{
    margin: 1rem 0 !important;
}
.tableContainer{
    margin: 1rem 0  !important
}