.crackInfo{
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.crackInfo_body{
    padding: 2rem ;
    height: 100%;
}
.card{
    margin: 1rem 0 !important
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteBtn{
    height: fit-content !important;
    margin: 0.5rem !important;
}
.cardContent{
    display: flex !important;
    flex-direction: column !important;
    overflow: auto;
}
.loading{
    margin-top: 2rem;
    display: grid;
    place-items: center;
}

.crackPhoto{
    height: 33rem !important;
    align-self: center;
    border-radius: 5px;
    margin: 1rem;
    width: auto !important;
    text-align: center;
    -webkit-box-shadow: 12px 9px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 9px 5px -7px rgba(0,0,0,0.75);
    box-shadow: 12px 9px 5px -7px rgba(0,0,0,0.75);
}

.CarouselItem{
    text-align: center !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .crackPhoto{
        width: auto !important;
        height: 14rem !important;
    }
    .crackInfo_body{
        padding: 1rem ;
    }
    
  }

  @media only screen and (max-width: 414px) {
    /* For mobile phones: */
    .crackPhoto{
        width: auto !important;
        height: 12rem !important;
    }
  }